body {
    color: #333;
    line-height: 1.8;
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    font-size: 100%;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    margin: 0px;
    line-height: 1.2;
}

main {
    display: flex;
    flex-flow: row wrap;
}

main header, main hr {
    flex: 0 0 100%;
    text-align: left;
}

main nav {
    margin: 20px 0px;
    flex: 1 1 auto;
}

main article {
    margin: 20px 0px;
    flex: 3 1 auto;
}

main nav #links a {
    text-decoration: none;
    margin: 10px;
}

main article #keyurls {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
